#!/bin/bash

for i in $(docker ps --filter "status=exited" | tail -n +2 | grep -v "\(second\|minute\)s\? ago" | awk '{ print $1 }'); do
   docker rm --volumes $i | awk '{ printf "Deleted container: %s\n", $1 }'
done

EXCLUDE_IMAGES=(
   'XXXXX/XXXXXX:latest'
)
EXCLUDE_IMAGES+=($(docker ps --filter "status=running" | awk '{print $2}' | tail -n +2 | sort -u))
for i in "${EXCLUDE_IMAGES[@]}"; do
   EXCLUDE_IMAGE_PATTERN="${i/:/ *}\|$EXCLUDE_IMAGE_PATTERN"
done

for i in $(docker images | tail -n +2 | grep -v "\(${EXCLUDE_IMAGE_PATTERN}DUMMY\)" | grep -v "\(second\|minute\)s\? ago" | awk '{ print $3 }' | sort -u); do
   docker rmi --force $i 2> /dev/null | awk '/Deleted:/ { printf "Deleted image: %s\n", $2 }'
done
